<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 리뷰</title>
    <!--css 및 라이브러리 링크 시작-->
    <div th:replace="fragment/link :: link"/>
    <!--css 및 라이브러리 링크 끝-->
</head>
<style>

    p {
        padding: 6px;
    }

    .widget__content > div {
        display: flex;
    }

    .widget__content > div > p {
        width: 75px;
    }

    tr, th, td {
        border: 1px solid #cacacaa1;
        padding: 14px;
        font-size: 15px;
    }

    th {
        width: 8%;
        background-color: #a2a2a247;
        font-weight: 800;
    }
</style>
<body>
<!--header 시작-->
<div th:replace="fragment/header :: header"/>
<!--프로필 시작-->
<div th:replace="fragment/profile :: profile"/>
<!--프로필 끝-->
<!--header 끝-->

<div class="wrapper">
    <!-- 사이드바 시작 -->
    <div th:replace="fragment/aside_nav :: aside_nav"/>
    <!--사이드바 끝-->

    <section class="content">
        <!-- 컨텐츠 헤더 -->
        <header class="main-header clearfix">
            <h1 class="main-header__title">
                <i class="icon pe-7s-home"></i>
                리뷰 상세 조회
            </h1>
            <div class="main-header__date">
                <i class="icon pe-7s-date"></i>
                <span class="date"></span>
            </div>
        </header> <!--헤더 끝-->
        <div class="row">

            <div class="col-md-12">
                <article class="widget shadow" style="padding-bottom: 60px;">
                    <div class="widget__content">
                        <table style="border: 1px solid #cacacaa1;min-width: 100%;margin-bottom: 20px;">
                            <tbody>
                            <tr>
                                <th scope="row">리뷰 번호</th>
                                <td th:text="${review.revIdx}" colspan='3'></td>
                            </tr>
                            <tr>
                                <th scope="row">방문한 식당</th>
                                <td th:text="${review.resaBisName}" colspan='3'></td>
                            </tr>
                            <tr>
                                <th scope="row">리뷰 내용</th>
                                <td th:text="${review.revContent}"></td>
                            </tr>
                            <tr>
                                <th scope="row">작성자</th>
                                <td colspan='3'>[[${review.prIdx.prName}]] ([[${review.prIdx.prNick}]])</td>
                            </tr>
                            <tr>
                                <th scope="row">좋아요 개수</th>
                                <td th:text="${review.revLike}" colspan='3'></td>
                            </tr>
                            <tr>
                                <th scope="row">평점</th>
                                <td th:text="${review.revScore}" colspan='3'></td>
                            </tr>
                            <tr>
                                <th scope="row">등록일</th>
                                <td colspan='3'>[[${#temporals.format(review.regDate, 'yyyy-MM-dd')}]]</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-light pull-right" type="button" onclick="history.back()">뒤로가기</button>
                        <div class="clearfix"></div>
                    </div>


                </article>
            </div>
        </div> <!--row-->
    </section>
    <!--    footer 시작-->
    <div th:replace="fragment/footer :: footer"/>
    <!--    footer 끝-->

</div> <!-- /wrapper -->

<!--js 연결 시작-->
<div th:replace="fragment/js :: js"/>
<!--js 연결 끝-->
</body>
</html>
